*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
} 

body {
    width: 100%;
    background: url("https://funart.pro/uploads/posts/2021-04/1617296361_8-p-oboi-zimnie-gori-8.jpg") no-repeat;
}   

.conteiner {
    margin: 0 auto;
    max-width: 0 1630px;
    
}

select {
    cursor: pointer;
    background: none;
    color: skyblue;
    font-size: 18px;
    font-weight: 500;
}

.search {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    cursor: pointer; 
}

.city {
    width: 150px;
    margin-right: 10px;
    
}

#btnGetWeather {
    cursor: pointer;
    width: 120px;
    height: 22px;
    border-radius: 20px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: skyblue;
    border: 1px solid skyblue;
}

#btnGetWeather:hover {
    color: azure;
    border: 1px solid azure;
    box-shadow: 0 0 1px 1px azure;
}

.weather-list {
    display: flex;
    list-style: none;
    text-align: center;
    padding-bottom: 40px;
    
}

.list-item {
    width: 100%;
    
}

.weather-list span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: azure;
    background-color: rgb(30, 146, 192);
    opacity: 80%;   
}

.neighbors-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    background-color: rgb(30, 146, 192);

}

.neighbors-list :only-child {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 500;
    color: azure;
    cursor: pointer;
}

.neighbors-list :only-child:hover {
    color: blue;
}

.date-style {
    padding-top: 10px;
}

.min-temp {
    padding-top: 20px;
}

.max-temp {
    padding-bottom: 20px;
}

.night-Phrase {
    padding-bottom: 10px;   
}

.error {
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
}